/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
.chercheemploi {
	background: linear-gradient(0.25turn, #4545ce, #225e22);
	text-align: center;
	font-size: 40px;
	color: white;
float:left;
width:100%;
}
.chercheemploi h1 {
	font-size: 60px;
	font-weight: 900;
}
.chercheemploi p {
	font-size: 24px;
}
.navbar-brand {
	color: #80a880;
	font-size: 21px;
	font-weight: 300;
	-webkit-text-stroke: 4px #20571c;
}
.chercheemploi .navbar-brand {
	color: #80a880;
	font-size: 81px;
	font-weight: 700;
	-webkit-text-stroke: 4px #20571c;
}
.chercheemploi .hey {
	width: 50%;
	text-align: left;
	display: inline-block;
}
main {
	float: left;
}
.search {
	display: inline-block;
	width: 30%;
}
.search-welcome {
	/* float: left; */
	display: inline-block;
	/* position: absolute; */
	width: 30%;
}
main {
	float: left;
	text-align: center;
	align-content: center;
	width: 100%;
}
.search .mb-3 {
	width: 40%;
	float: left;
}
.search-welcome .form-floating.mb-3 {
	width: 40%;
	float: left;
}
